
.navigation-categories {
	
	margin-bottom: 2em;

	.menu-categories {
		
		margin: 1em 0;
		display: flex;
		flex-flow: row wrap;

		> li {
			margin: 0 1px 1px 0;
			flex: 1;
		}

		@include breakpoint(large) {
			flex-flow: row nowrap;
		}

		a {
			@include button(true, map-get($foundation-palette, primary), darken(map-get($foundation-palette, primary), 10%), #fff, solid);
			text-transform: uppercase;
			position: relative;
			//line-height: 30px;
			margin-bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			&:before {
				content: '';
				display: inline-block;
				width: 30px;
				height: 30px;
				margin-right: 0.4em;
				transition: background-position 0.2s ease-in;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 180px;
				background-image: url(../images/pictos.png);

				@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
					background-image: url(../images/pictos@2x.png);
				}
				
			}

			&:after {
				content: '';
				display: block;
				width: 0%;
				height: 4px;
				background: $medium-gray;
				position: absolute;
				left: 0;
				bottom: -8px;
				transition: all 0.2s ease-in;
			}

			&:hover, &:focus {
				&:before {
					background-position: bottom;
				}
				
				&:after {
					width: 100%;
				}
				
			}


		}

		.cat-item-all {
			@include breakpoint(large) {
				flex: 0;
				flex-basis: 30px;
			}
			a {
				text-indent: -99em;
				@include button-style(#092a35, darken(#092a35, 10%), #fff);
				&:before {
					background-position: 0 0;
					text-indent: 0;
					margin-right: 0;
				}
				&:hover, &:focus {
					&:before {
						background-position: 0 -30px;
					}
									
				}
			}
		}


		//réalisation
		.cat-item-22 a {
			&:before {
				background-position: -60px 0;
			}
			&:after {
				background-color: map-get($foundation-palette, primary);
			}
			&:hover, &:focus {
				&:before {
					background-position: -60px -30px;
				}
								
			}
		}

		//logiciels
		.cat-item-26 a {
			@include button-style(#158881, darken(#158881, 10%), #fff);
			&:before {
				background-position: -90px 0;
			}
			&:after {
				background-color: #158881;
			}
			&:hover, &:focus {
				&:before {
					background-position: -90px -30px;
				}
								
			}

		}
		//interviews
		.cat-item-24 a {
			
			@include button-style(#196680, darken(#196680, 10%), #fff);
			&:before {
				background-position: -30px 0;
			}
			&:after {
				background-color: #196680;
			}
			&:hover, &:focus {
				&:before {
					background-position: -30px -30px;
				}
								
			}
		}
		//nos clients
		.cat-item-28 a {
			@include button-style(#02a77a, darken(#02a77a, 10%), #fff);
			&:before {
				background-position: -120px 0;
			}
			&:after {
				background-color: #02a77a;
			}
			&:hover, &:focus {
				&:before {
					background-position: -120px -30px;
				}
								
			}
		}
		//cedreo
		.cat-item-30 a {
			@include button-style(#699f3c, darken(#699f3c, 10%), #fff);
			&:before {
				background-position: -150px 0;
			}
			&:after {
				background-color: #699f3c;
			}
			&:hover, &:focus {
				&:before {
					background-position: -150px -30px;
				}
								
			}
		}

		.current-cat a {
			&:after {
				width: 100%;
			}
		}
	}
	
}
